:root {
  --primary: #D81E58;
  --secondary: #8A4EFC;
  --light: #EEE;
  --light-alt: #61759b;
  --dark: #131A26;
  --dark-alt: #1c2b46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: var(--dark-alt);
  color: var(--light);
}

.App {
  padding: 32px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
  margin-top: 32px;
}

h2 {
  text-align: center;
  font-size: 18px;
  color: var(--light-alt);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 16px;
}

