.todos {
    width: 80%;
    margin: auto;
  }
  
  .todo {
    position: relative;
    background-color: var(--dark);
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .todo:hover {
    opacity: 0.8;
  }
  
  
  .todo .checkbox {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    border-radius: 999px;
    background-color: var(--dark-alt);
    transition: 0.4s;
  }
  
  .todo.isComplete .checkbox {
    background-color: var(--primary);
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
  }
  
  .todo .text {
    font-size: 20px;
    width: 80%;
  }
  
  .todo.isComplete .text {
    text-decoration: line-through;
  }
  
  
  .todo .deleteTodo {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  
    width: 24px;
    height: 24px;
    color: var(--light);
    background-color: red;
    border-radius: 50%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  